<div class="container">
<div style="height: 200px; width: 200px; align-items: center;" >
<div class="alert alert-success" role="alert">
    Congratulations Your Order is Placed
   </div>
  
 <button (click)="Paymentclose()" routerLink="/">Shop More</button> 

</div> 
 </div>  
 <!-- <div style="justify-content: center;">
<div class="card" style="align-content: center;">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="fas fa-grin	">✓</i>
    </div>
      <h1>Success</h1> 
      <p>Payment Successfully Done;<br/>
      <button   (click)="Paymentclose()" routerLink="/">Shop More</button>
    </div>
    </div>
</div>  -->