.login-container{
    max-width: 400px; 
    margin: 60px auto 0;
  }
  
  .error{
    color: tomato; 
    font-size: 12px; 
    padding-top: 4px
  }
 .spacer{
  align-items: flex-end;
 }
 .mat-toolbar.mat-primary {
  background:  rgba(26, 22, 156, 0.943);
  color: #fff;
}

.full-width{
  width: 50%;
}
 
